html,
body {
  padding: 0;
  margin: 0;
}
html {
  overflow-x: hidden !important;
}
.top {
  margin-top: 2rem !important;
}
a {
  color: #000;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.main {
  margin-top: 4rem !important;
}
.imageCon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
.red {
  color: #f00;
}
.primary {
  color: rgb(27, 27, 190);
}
.adminPanel {
  display: none !important;
}

.mainCardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}
@media screen and (max-width: 425px) {
  .mainCardGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}
/* @media screen and (max-width: 768px) {
  .mainCardGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
  }
} */
